CREATE DATABASE QUANLYDEAN 

GO

USE QUANLYDEAN

GO

CREATE TABLE CHUYENMON
(
	MaTDCM char(3) PRIMARY KEY NOT NULL, 
	TenTDCM nvarchar(100) not null,
);
GO

SELECT *
FROM CHUYENMON

GO


INSERT INTO CHUYENMON VALUES ('A01',N'Kỹ sư Công nghệ thông tin');
INSERT INTO CHUYENMON VALUES ('A02',N'Kỹ sư Mạng máy tính và truyền thông');
INSERT INTO CHUYENMON VALUES ('A03',N'Kỹ sư Công nghệ phần mềm');



GO

CREATE TABLE NHANVIEN (
	MaNV char(6) PRIMARY KEY not null, 
	HoNV nvarchar(20) not null, 
	TenLotNV nvarchar(20) not null, 
	TenNV nvarchar (20) not null, 
	NgaySinh datetime ,
	Phai nvarchar(3), 
	DiaChiNV nvarchar(100), 
	Hesoluong dec(4,2), 
	MaTDCM char(3) CONSTRAINT RB_TDCM FOREIGN KEY (MaTDCM) REFERENCES CHUYENMON(MaTDCM), 
);
GO

SELECT *
FROM NHANVIEN

GO

INSERT INTO NHANVIEN VALUES ('A1.001',N'Nguyễn', N'Thanh', N'Tùng', '08/12/1965', N'Nam', N'Trà Vinh', '4.66', 'A01');
INSERT INTO NHANVIEN VALUES ('A1.002',N'Nguyễn', N'Mạnh', N'Hùng', '09/15/1962', N'Nam', N'Vĩnh Long', '4.33', 'A02');

INSERT INTO NHANVIEN VALUES ('A1.003',N'Trần', N'Thanh', N'Tâm', '07/31/1972', N'Nữ', N'Vĩnh Long', '3.09', 'A03');








GO 

CREATE TABLE PHONGBAN
(
	MaPB char(2) PRIMARY KEY NOT NULL, 
	TenPB nvarchar(100) NOT NULL, 
);

GO 
SELECT *
FROM PHONGBAN

GO

INSERT INTO PHONGBAN VALUES('KT', N'Kỹ thuật');
INSERT INTO PHONGBAN VALUES('KD', N'Kinh doanh');
INSERT INTO PHONGBAN VALUES('SX', N'Sản xuất');

GO

CREATE TABLE NHIEMVU 
(
	MaNhiemVu char(2) PRIMARY KEY, 
	TenNhiemVu nvarchar(50) NOT NULL, 
);
 GO 

 select *
 from NHIEMVU
 go

 INSERT INTO NHIEMVU VALUES('A1', N'Tổ trưởng tổ kỹ thuật');
 INSERT INTO NHIEMVU VALUES('A2', N'Phó Tổ trưởng tổ kỹ thuật');

 INSERT INTO NHIEMVU VALUES('A3', N'Tổ trưởng tổ sản xuất');



 GO

 CREATE TABLE NHAN_NHIEMVU
 (
	MaNV char(6), ---KHÓA NGOẠI THAM CHIẾU ĐẾN BẢNG NHANVIEN
	MaPB char(2), ---KHÓA NGOẠI THAM CHIẾU ĐẾN BANGR PHONGBAN
	MaNhiemVu char(2), ---KHÓA NGOẠI THAM CHIẾU ĐÊNS BẢNG NHIEMVU
	NgayNhanNhiemVu date DEFAULT GETDATE(), ---RÀNG BUỘC LÀ NGÀY CỦA HỆ THỐNG LÚC NHẬP DỮ LIỆU
	NgayKetThuc date DEFAULT NULL, ---RÀNG BUỘC NULL LÀ CHƯA CÓ NGÀY KẾT THÚC
	CONSTRAINT RB_NV_PB_NV PRIMARY KEY (MaNV, MaPB, MaNhiemVu), 
	CONSTRAINT RB_MaNV FOREIGN KEY(MaNV) REFERENCES NHANVIEN(MaNV), 
	CONSTRAINT RB_MaPB FOREIGN KEY(MaPB) REFERENCES PHONGBAN(MaPB), 
	CONSTRAINT RB_MaNhiemVu FOREIGN KEY(MaNhiemVu) REFERENCES NHIEMVU(MaNhiemVu), 
);

GO
select *
from NHAN_NHIEMVU
GO


INSERT INTO NHAN_NHIEMVU(MaNV, MaPB, MaNhiemVu, NgayKetThuc) VALUES('A1.001', 'KT', 'A1',NULL);
INSERT INTO NHAN_NHIEMVU(MaNV, MaPB, MaNhiemVu, NgayKetThuc) VALUES('A1.002', 'KT', 'A2',NULL);
INSERT INTO NHAN_NHIEMVU(MaNV, MaPB, MaNhiemVu, NgayKetThuc) VALUES('A1.003', 'KT', 'A3',NULL);


GO

CREATE TABLE DEAN
(
	MaDA char(2) PRIMARY KEY NOT NULL, 
	TenDA nvarchar(50), 
	DiaDiemDA nvarchar(50), 
	MaPhong char(2), 
	CONSTRAINT RB_MaPhong FOREIGN KEY(MaPhong) REFERENCES PHONGBAN(MaPB), 
	NgayBatDau datetime, 
	NgayKetThuc datetime, 
);

GO

INSERT INTO DEAN VALUES ('A1', N'Dự án IoT nông nghiệp', N'Trà Vinh', 'KT', '07/30/2019', '07/30/2020');
INSERT INTO DEAN VALUES ('B2', N'Dự án hạ tầng viễn thông', N'Vĩnh Long', 'KD', '07/01/2020', '04/07/2021');
INSERT INTO DEAN VALUES ('C3', N'Dự án phát triển phần mềm', N'Cần Thơ', 'SX', '05/02/2020', '12/30/2021');

GO

CREATE TABLE PHANCONG
(
	MaNV char(6), 
	MaDA char(2), 
	ThoiGian Decimal (3,1), 
	CONSTRAINT RB_NV_DA PRIMARY KEY (MaNV, MaDA), 
	CONSTRAINT RB_MNV FOREIGN KEY (MaNV) REFERENCES NHANVIEN(MaNV), 
	CONSTRAINT RB_MDA FOREIGN KEY (MaDA) REFERENCES DEAN(MaDA),
);

GO

INSERT INTO PHANCONG VALUES ('A1.001', 'A1', '32.5');
INSERT INTO PHANCONG VALUES ('A1.002', 'A1', '7.5');
INSERT INTO PHANCONG VALUES ('A1.003', 'B2', '40.0');




--1. Câu lệnh select
--VÍ DỤ 1
SELECT *
FROM NHANVIEN

--VÍ DỤ 2
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai
FROM NHANVIEN

--2. TRUY VAN VOI WHERE
--VÍ DỤ 3
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai
FROM NHANVIEN
WHERE Phai = N'Nữ'

--VÍ DỤ 4
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai, Hesoluong
FROM NHANVIEN
WHERE Phai = N'Nữ' AND Hesoluong = 4.33

--VÍ DỤ 5
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai, Hesoluong
FROM NHANVIEN
WHERE Phai = N'Nữ' OR Hesoluong = 4.33

--VÍ DỤ 6
SELECT MaNV, HoNV+' '+ TenLotNV+' '+ TenNV AS HoTenNV, Phai, Hesoluong
FROM NHANVIEN
WHERE MaNV LIKE 'A1%'

--VÍ DỤ 7
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai, Hesoluong
FROM NHANVIEN
WHERE MaNV LIKE 'A____1'

--VÍ DỤ 8
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai, Hesoluong
FROM NHANVIEN
WHERE Hesoluong BETWEEN 3.00 AND 4.00

--VÍ DỤ 9
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai, Hesoluong
FROM NHANVIEN
WHERE Hesoluong NOT BETWEEN 3.00 AND 4.00

--3. TỪ KHÓA DISTINCT
--VÍ DỤ 10
SELECT DISTINCT Phai, DiaChiNV 
FROM NHANVIEN
WHERE Phai = N'Nam'

--4. LỆNH ORDER BY
--VÍ DỤ 11
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai, Hesoluong
FROM NHANVIEN
ORDER BY TenNV

--VÍ DỤ 12
SELECT MaNV, HoNV, TenLotNV, TenNV, Phai, Hesoluong
FROM NHANVIEN
WHERE Phai = N'Nữ'
ORDER BY TenNV, HoNV, Hesoluong DESC

--NULL OR NOT NULL
SELECT MaNV
FROM NHANVIEN
WHERE TenNV IS NOT NULL

--5.GROUP BY
--VÍ DỤ 13
SELECT *
FROM PHANCONG

--VÍ DỤ 14
SELECT MaDA, ThoiGian
FROM PHANCONG
GROUP BY MaDA, ThoiGian

--6. HÀM TẬP HỢP
--VÍ DỤ 15 ---TỔNG THỜI GIAN THỰC HIỆN ĐỀ ÁN ---HÀM SUM
SELECT SUM(ThoiGian) AS "TỔNG THỜI GIAN"
FROM PHANCONG

--VÍ DỤ 16 ---TRUNG BÌNH THỜI GIAN THỰC HIỆN ĐỀ ÁN --- HÀM AVG
SELECT AVG(ThoiGian) AS "Tb_THỜI GIAN"
FROM PHANCONG

--VÍ DỤ 17 --- ĐẾM LƯỢT NGƯỜI THAM GIA DỰ ÁN --- HÀM COUNT
SELECT COUNT(MaNV) AS "SỐ NV THAMGIA"
FROM PHANCONG

--VÍ DỤ 18 --- THỜI GIAN THAM GIA ĐỀ ÁN LỚN NHẤT --- HÀM MAX
SELECT MAX(ThoiGian) AS "TG_LỚN NHẤT"
FROM PHANCONG

--VÍ DỤ 19 --- THỜI GIAN THAM GIA ĐỀ ÁN NHỎ NHẤT --- HÀM MIN
SELECT MIN(ThoiGian) AS "TG_NHỎ NHẤT"
FROM PHANCONG

---7. HÀM TẬP HỢP VỚI GROUP BY
--VÍ DỤ 20 --- THỜI GIAN THỰC HIỆN NHỎ NHẤT CỦA TỪNG ĐỀ ÁN
SELECT MaDA, MIN(ThoiGian) AS TG_nho_nhat
FROM PHANCONG
GROUP BY MaDA

--VÍ DỤ 21 --- ĐẾM MỖI NGƯỜI THỰC HIỆN BAO NHIÊU ĐỀ ÁN
SELECT MaNV, COUNT(MaDA) AS SoDA_TH
FROM PHANCONG
GROUP BY MaNV
ORDER BY SoDA_TH

--THỜI GIAN LỚN NHẤT TỪNG ĐỀ ÁN
SELECT MaDA, MAX(ThoiGian) AS max_time
FROM PHANCONG
GROUP BY MaDA
ORDER BY max_time

--THỜI GIAN TRUNG BÌNH TỪNG ĐỀ ÁN
SELECT MaDA, AVG(ThoiGian) AS TB_time
FROM PHANCONG
GROUP BY MaDA

--TỔNG THỜI GIAN THỰC HIỆN TỪNG ĐỀ ÁN
SELECT MaDA, SUM(ThoiGian) AS TONG_time
FROM PHANCONG
GROUP BY MaDA

--SỐ NGƯỜI THỰC HIỆN TỪNG ĐỀ ÁN
SELECT MaDA, COUNT(MaNV) AS SoNV_THAMGIA
FROM PHANCONG
GROUP BY MaDA

--8.CÚ PHÁP VỚI HAVING
--VÍ DỤ 22
SELECT MaNV, COUNT(MaDA) AS SoDuAn_NV
FROM PHANCONG
GROUP BY MaNV
HAVING MaNV LIKE 'A1%'
ORDER BY SoDuAn_NV

--VÍ DỤ 23
SELECT MaNV, COUNT(MaDA) AS SoDuAn_NV
FROM PHANCONG
GROUP BY MaNV
HAVING MaNV LIKE 'A1%'
ORDER BY SoDuAn_NV

--9.ĐIỀU KIỆN KẾT NỐI
----VÍ DỤ  24
SELECT HoNV, TenLotNV AS TenLot, TenNV AS Ten, C.TenTDCM
FROM NHANVIEN AS N, CHUYENMON AS C
WHERE C.MaTDCM = N.MaTDCM

--VÍ DỤ 25
SELECT HoNV, TenLotNV AS TenLot, TenNV AS Ten, C.TenTDCM
FROM NHANVIEN AS N, CHUYENMON AS C
WHERE C.MaTDCM = N.MaTDCM AND C.TenTDCM like N'Kỹ sư Công nghệ thông tin'

--VÍ DỤ 26 ---UNION HOẶC UNION ALL ---PHÉP NỐI
SELECT N.MaNV, N.TenLotNV, N.TenNV
FROM NHANVIEN AS N, PHANCONG AS P, DEAN AS D
WHERE N.MaNV = P.MaNV AND P.MaDA = D.MaDA 
UNION
SELECT N.MaNV, N.TenLotNV, N.TenNV
FROM NHANVIEN AS N

--VÍ DỤ 27 ----INTERSECT ---PHÉP GIAO
SELECT N.MaNV, N.TenLotNV, N.TenNV
FROM NHANVIEN AS N, PHANCONG AS P, DEAN AS D
WHERE N.MaNV = P.MaNV AND P.MaDA = D.MaDA
INTERSECT 
SELECT N.MaNV, N.TenLotNV, N.TenNV
FROM NHANVIEN AS N

--VÍ DỤ 28 ---EXCEPT ---PHÉP TRỪ
SELECT N.MaNV, N.TenLotNV, N.TenNV
FROM NHANVIEN AS N
EXCEPT
SELECT N.MaNV, N.TenLotNV, N.TenNV
FROM NHANVIEN AS N, PHANCONG AS P, DEAN AS D
WHERE N.MaNV = P.MaNV AND P.MaDA = D.MaDA

--VÍ DỤ 29 --- CÚ PHÁP IN ---TƯƠNG TỰ NHIỀU LỆNH OR
SELECT MaNV, HoNV, TenLotNV, TenNV, Hesoluong, MaTDCM
FROM NHANVIEN
WHERE MaTDCM IN ('A01', 'A02', 'A03')

---10. TRUY VẤN LỒNG
--VÍ DỤ 30
SELECT MaNV, HoNV, TenLotNV, TenNV, Hesoluong, MaTDCM
FROM NHANVIEN
WHERE MaTDCM = SOME (
SELECT MaTDCM 
FROM NHANVIEN AS A, NHAN_NHIEMVU AS B, PHONGBAN AS C
WHERE A.MaNV = B.MaNV AND B.MaPB = C.MaPB AND C.TenPB = N'Kỹ thuật')
--VÍ DỤ 31
CREATE VIEW  View_ds_NHANVIEN 
AS 
SELECT * 
FROM NHANVIEN
--Xem két quả của view
SELECT * 
FROM view_ds_NHANVIEN
--sửa đỗi view



SELECT MANV, HONV, TENLOTNV, TENNV
FROM NHANVIEN
WHERE EXISTS(
SELECT MaNV, HoNV, TenLotNV, TenNV, Hesoluong, MaTDCM
FROM NHANVIEN AS A, NHAN_NHIEMVU AS B, PHONGBAN AS C
WHERE A.MaNV = B.MaNV AND B.MaPB = C.MaPB 
AND C.TenPB LIKE N'KINH DOANH')